
<div id="spinner" class="spinner spinner-border" role="status" style="display:none;"></div>

<link rel="stylesheet" href="~/css/spinner.css" type="text/css" />
<script  src="/js/spinner.js"></script>