@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{ ViewBag.Title = "Employee"; }

@Html.Partial("_Spinner")

<div class="card">
    <div class="card-header">
        Crear Nuevo Empleado
    </div>
    <div class="card-body">
        <form id="Add" method="post">
            <div class="row">
                <div class="col-md-6">
                    <label class="form-label">Name</label>
                    <input id="Name" name="Name" type="text" class="form-control" placeholder="Ingrese el nombre">
                    <span class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label class="form-label">Position</label>
                    <input id="Position" name="Position" type="text" class="form-control" placeholder="Ingrese el puesto">
                    <span class="text-danger"></span>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-md-6">
                    <label class="form-label">Office</label>
                    <input id="Office" name="Office" type="text" class="form-control" placeholder="Ingrese la oficina">
                    <span class="text-danger"></span>
                </div>
                <div class="col-md-6 mb-3">
                    <label class="form-label">Salary</label>
                    <input id="Salary" name="Salary" type="number" class="form-control" placeholder="Ingrese el salario">
                    <span class="text-danger"></span>
                </div>
            </div>

            <button id="buttonAdd" class="btn btn-primary">Guardar</button>
        </form>
    </div>
</div>

<div class="card mt-2">
    <div class=" card-header">
        Lista Empleados
    </div>
    <div class="card-body">
        <table id="ListEmployee" class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Position</th>
                    <th scope="col">Office</th>
                    <th scope="col">Salary</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Name</td>
                    <td>Position</td>
                    <td>Office</td>
                    <td>Salary</td>
                    <td class="d-flex justify-content-center align-items-center d-grid gap-3">
                        <a class="bi bi-pencil-square btn btn-primary btn-sm">Add</a>
                        <a class="btn btn-danger btn-sm bi bi-trash3">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/js/Employee/index.js"></script>